<launch>
    <!--display ur5 on gazebo-->
    <include file="$(find my_control_gazebo)/launch/ur5_gazebo.launch">
        <arg name="urdf" value="ur5_box" />
    </include>

    <!--add adaptive control method-->
    <include file="$(find my_control_gazebo)/launch/ur5_controllers.launch">
        <arg name="control_type" value="adaptive" />
    </include>    

    <!--run gui -->
    <node name="gui_node" pkg="graphical_user_interface" type="interface" output="screen" />       

    <!-- send trajectory of exercise 1 -->
    <node name="send_circular_trajectory" pkg="motion_ur5_gazebo" type="send_circular_trajectory" output="screen" /> 
    

</launch>